<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>

<body>
<div class="container">
    <dir>
        <h2>나만의 블로그</h2>
    </dir>

    <div>
        <label for="BoardName">name:</label>
        <input type="text" id="BoardName" name="boardName" class="" value="" th:value="${board.name}" readonly>
    </div>
    <div>
        <label for="BoardId">title:</label>
        <input type="text" id="BoardId" name="boardId" class="" value="" th:value="${board.title}" readonly>
    </div>
    <div>
        <label for="BoardContext">context:</label>
        <input type="text" id="BoardContext" name="boardContext" style="width:300px;height:500px;" class="" value="" th:value="${board.context}"  readonly>
    </div>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class=""
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href= '@{/board/{board.Id}/edit(board.Id=${board.id})}'|"
                    type="button">수정</button>
        </div>
        <div class="col">
            <button class=""
                    onclick="location.href='items.html'"
                    th:onclick = "|location.href = '@{/board/boards}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>